<ion-content padding>
  <h3>Loja Ionic</h3>
  <img src="assets/images/tela_inicial.png" alt="Logo">

  <form>
    <ion-item>
      <ion-label stacked>Email: </ion-label>
      <ion-input type="text" [(ngModel)]="credenciais.emailCliente" name="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha: </ion-label>
      <ion-input type="password" [(ngModel)]="credenciais.senhaCliente" name="senha" ></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" fill="solid" (click)="login()">Entrar</ion-button>
  </form>
  <ion-button expand="block" color="success" fill="solid" (click)="signup()" >Registrar</ion-button>
</ion-content>